h1 {
    color: black
}

h2 {
    color: red
}

h3 {
    color: blue
}

h4 {
    color: white
}

h5 {
    color: red
}

h6 {
    color: lightblue
}

p {
    font-family: Lato;
}

.error-message {
    color: red;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container {
    border-radius: 5px;
    background-color: none;
    padding: 20px;
}

table,
th,
td {
    border: none;
    text-align: center;
    border-spacing: 20px;
    border-collapse: separate;
}

ul.b {
    list-style-type: square;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input[type=radio] {
    border: none;
    display: flexbox;
}