<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>

<div class="container">
    <div class="card-header text-center bg-dark text-white">
        <div class="row align-items-center">
            <div class="col-md-11">
                <h4>Meetings</h4>
            </div>
        </div>
    </div>
    <br/>
    <table #dataTable class="table display row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Is Completed?</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meeting of meetings">
                <td>{{meeting.id}}</td>
                <td>{{meeting.description}}</td>
                <td>{{meeting.done}}</td>
                <td>{{meeting.targetDate | date: "MMM d, y, h:mm:ss a"}}</td>
            </tr>
        </tbody>
    </table>
</div>